---
import Layout from '../layouts/BaseLayout.astro';
import AmiroHero from '../components/Hero/AmiroHero.astro';
import TeamSection from '../components/Team/TeamSection.astro';
import ScrollingTextSection from '../components/ScrollingText/ScrollingTextSection.astro';
import PhotoSection from '../components/Photo/PhotoSection.astro';
import AboutSection from '../components/About/AboutSection.astro';
import Footer from '../components/Footer/Footer.astro';
import '../styles/hero.css';
---

<Layout title="PrivateStudio Barbershop - Book Your Haircut Today">
	<main>
		<AmiroHero />
		<TeamSection />
		<ScrollingTextSection />
		<PhotoSection />
		<AboutSection />
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
		width: 100%;
	}
</style>
